@import "./common/colors.scss";
*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
body{
    background-color: $primary-color;
}
.container{
    margin: 0 40px;
}